@import url('https://fonts.googleapis.com/css?family=Muli:700i');

body {
  background-image: url("https://i.imgur.com/oiYGIPH.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #cccccc;
  font-family: 'Muli', sans-serif;
}

  /*Had issue always getting footer to apear at bottom, this sets to very bottom and if less that 700pixels just sets back to below jumbotron*/
@media only screen and (min-height: 700px) {
  .static-footer {
    position:absolute;
    bottom:0;
    width:100%;
  }
}
.front-heading{
  padding: 30px;
  text-align: center;
}
.year-heading{
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

/*Could've used a bit more bootstrap here to make the image appear where I wanted but I decided this would be easier*/
.image-resize{
  border-radius: 20px;
  display: block;
  margin: auto;
  max-width: 960px;
  width: 95%;
  margin-top: 50%;
}

.p-underwater-comment{
  max-width: 960px;
  margin: auto;
  border-radius: 5px;
  width: 95%;
  text-align: right;
  background-color: white;
}

.jumbotron{
  border-radius: 5px;
  padding: 10px;
}

.white-background{
  background-color: #eeeeee;
  padding: 0px 10px;
  border-radius: 5px;
}

.move-right{
  float: right;
}

.p-margin{
  margin-bottom: 10px;
  padding-right: 5px;
  float: right;
}

a.navbar-brand{
    padding-bottom: 0px;
}

p.navbar-text{
  padding: 0px;
  margin: 0px;
}

.p-formatting{
  margin-top: 40px;
}

.card-layout{
  padding-bottom: 20px;
}

.first{
  text-align: right;
}

.opaque-background{
  border-radius: 10px;
  background-color: rgba(265, 265, 265, 0.5);
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

.jumbotron-homepage{
  width: 80%;
  /*Would be nice to get this max-width a bit bigger but want it to show everything on a standard 1080x1920 screen, also images aren't that high quality*/
  max-width: 950px;
  margin: auto;
  text-align: center;
}
