@import url('https://fonts.googleapis.com/css?family=Muli:700i');

body {
  background-image: url("https://i.imgur.com/oiYGIPH.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #cccccc;
  font-family: 'Muli', sans-serif;
}

header{
  padding: 30px;
  text-align: center;
}

h1{
    font-size: 80px;
}

.image-resize{
    border-radius: 20px;
  display: block;
  margin: auto;
  max-width: 960px;
  width: 95%;
  margin-top: 350px;
}

.container-fluid{
  text-align: center;
  width: 100px;
}

.jumbotron{
  border-radius: 5px;
  padding: 10px;
}

.white-background{
  background-color: #eeeeee;
  padding: 0px 10px;
  border-radius: 5px;
}

.move-right{
  float: right;
}

.p-formatting{
  margin-top: 40px;
}

.container{
  padding-top: 20px;
}

.card-layout{
  padding-bottom: 20px;
}

.first{
  text-align: right;
}
.card-deck{
  margin: 0px;
}
