@import url('https://fonts.googleapis.com/css?family=Muli:700i');

body {
  background-image: url("https://i.imgur.com/oiYGIPH.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #cccccc;
  font-family: 'Muli', sans-serif;
}

nav{
  margin-bottom: 1%;
}

.front-heading{
  padding: 30px;
  text-align: center;
}
.year-heading{
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}
h1{
    font-size: 80px;
}

.image-resize{
  border-radius: 20px;
  display: block;
  margin: auto;
  max-width: 960px;
  width: 95%;
  margin-top: 25%;
}

.jumbotron{
  border-radius: 5px;
  padding: 10px;
}

.white-background{
  background-color: #eeeeee;
  padding: 0px 10px;
  border-radius: 5px;
}

.move-right{
  float: right;
}

.p-margin{
  margin-bottom: 10px;
  padding-right: 5px;
  float: right;
}

a.navbar-brand{
    padding-bottom: 0px;
}

.p-formatting{
  margin-top: 40px;
}

.card-layout{
  padding-bottom: 20px;
}

.first{
  text-align: right;
}

.opaque-background{
  border-radius: 10px;
  background-color: rgba(265, 265, 265, 0.5);
  width: 60%;
  margin: auto;
}

.jumbotron-homepage{
  width: 80%;
  max-width: 930px;
  margin: auto;
  text-align: center;
}
