@import url('https://fonts.googleapis.com/css?family=Muli:700i');

body {
  background-image: url("https://i.imgur.com/oiYGIPH.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #cccccc;
  font-family: 'Muli', sans-serif;
}

header{
  padding: 60px;
  text-align: center;
}

h1{
    font-size: 80px;
}

.container-fluid{
  text-align: center;
  width: 100px;
}
